.app {
    height: 100vh;
    width: 100%;
    background: rgb(115, 0, 186);
    background: linear-gradient(135deg, rgba(115, 0, 186, 1) 0%, rgba(241, 70, 252, 1) 100%);
    color: white;
    text-align: center;
}