@import './Variable.scss';

.nav {
    flex-basis: 8%;
    width: 100%;
    box-shadow: 0 0 10px 1px $nav-boxshadow-color;
    background-color: $nav-color;

    .nav_list {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;

        .nav_item {
            text-decoration: none;
            font-weight: 700;
            font-size: $nav-font-size;
            color: white;
        }
    }
}